#titleh1 {
  height: 100%;
  text-align:center;
  align-items: center;
}
#navbar {
  text-align:center;
  padding-top: 50px;
}
#titchap1 {
  text-align: center;
}
#titchap2 {
  text-align: center;
}
#titchap3 {
  text-align: center;
}
#titchap4 {
  text-align: center;
}
